* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}

.content-center {
    width: 100%;/*Tela preenchida em 100% em qualquer dispositivo*/
    max-width: 300px;/*Para que não ultrapasse a largura a mais de 300px.*/
    margin: auto;/*Calcula automaticamente.*/
    padding: 20px;
    background-color: #FFF;
    border-radius: 15px;/*Faz um arredondamento nas bordas.*/
}

.content-center .text-center {/**/
    text-align: center;
}

.content-center img {/*img é descendente do elemento com a classe em questão.*/
    width: 70%;/*Reduzindo o tamanho da imgem*/
}

.content-center form {
    margin: 20px;
}

.content-center input, .content-center button {
    width: 100%;
    padding: 10px 5px;/*Forma abreviada para determinar o espaçamento nos quatro lados.*/
    border: none;/*Retirando as bordas dos botões*/
    outline: none;/*Retirando outline dos campos de preenchimento.*/
}

.content-center input {
    border-bottom-color: #CCC;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}